{% include "header.html" %}

<header class="masthead" style="background-image: url('')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>About Us</h1>
                    <span class="subheading">What we provide</span>
                </div>
            </div>
        </div>
    </div>
</header>


<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p> <q>!q to exit </q> is a free social networking RESTful Blog Web Application. </p>
            <p>You can use the application from any device like mobile phone , tablet , or desktop.</p>
            <p>You can explore a lot of blog articles on various topics with related pictures, the author's name, and the date sharing of the article. </p>
        </div>
    </div>
</div>

<hr> {% include "footer.html" %}