 {% include "header.html" %}

<!-- Page Header -->
<header class="masthead" style="background-image: url('')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>!q to exit team's Blog</h1>
                    <span class="subheading"></span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">


    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

            {% for post in posts_data %}

            <div class="post_content">
                <a href="{{url_for('post', post_id=post['id'])}}" style="text-decoration: none;">
                    <h2> {{ post["title"] }}</h2>
                    <p>{{ post["subtitle"] }} </p>
                </a>
                <!-- <a href=" {{url_for('post', post_id=post['id'])}}">Read</a> -->

            </div>

            <hr> {% endfor %}


        </div>
    </div>
</div>

<hr> {% include "footer.html" %}