{% include "header.html" %}


<header class="masthead" style="background-image: url('{{post.image_url}}')">
    <div class="overlay"></div>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">

                <div class="post-heading">
                    <h1>{{post['title'] }}</h1>
                    <h2 class="subheading">{{post['subtitle']}}</h2>
                </div>

            </div>
        </div>

    </div>
</header>


<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">

                <p>
                    {{post['body']}}
                </p>

            </div>
        </div>
    </div>

</article>

<hr> {% include "footer.html" %}