body {
    background: #efeff3;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #212121;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #43658b;
    color: white;
    text-align: center;
}

.main_body {
    position: relative;
    clear: both;
    margin: 0 auto 75px auto;
    width: 100%;
    overflow: hidden;
}

.heading {
    background: #4e89ae;
    height: 180px;
    border-top: 20px solid #43658b;
}

.heading .heading_title {
    width: 700px;
    margin: 38px auto 0 auto;
}

.heading_title h1 {
    font-size: 24px;
    color: #FFF;
    font-weight: 500;
}

.post_div {
    margin: -80px auto 100px;
    padding-bottom: 20px;
}

.post_content {
    position: relative;
    background: #fff;
    padding: 50px;
    width: 600px;
    margin: 20px auto 0 auto;
    box-shadow: 0 2px 4px rgba(100, 100, 100, .1);
}

a:link {
    text-decoration: none;
}

.post_content h2 {
    font-size: 21px;
    font-weight: 500;
}

.post_content .text {
    color: #212121;
    margin-top: 20px;
    font-size: 15px;
    line-height: 22px;
}

.post_content h2 a {
    color: #CC0000;
    text-decoration: none;
}