<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="./static/css/style.css">
</head>
<body>

<div class="main_body">

    <div class="heading">
        <div class="heading_title"><h1>My Blog</h1></div>
    </div>


    {% for post in data %}

     <div class="post_div">

        <div class="post_content">

            <h2> {{ post["title"] }}</h2>
            <p >{{ post["subtitle"] }} </p>
            <a href="">Read</a>
            
        </div>
    </div>

    {% endfor %}


</div>
</body>

<footer>
    <p>Copyrights YYYY. </p>
</footer>

</html>